.menuBase{
    width: 100%;
    height: 170px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.splitMenu{
    width: 76vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.sideMenuWrapper{
    height: 100%;
    background-color: yellowgreen;
    display: flex;
    align-items: center;
}

/* .menuNew{
    border: ;
}
.menuNew:hover{

} */

.profileMenu{
    position: relative;
}
.profileMenus{
    position:absolute;
    z-index: 5;
    background-color: white;
    top: 40px;
    right: 0px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
}

.menu{
    width: 170px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-weight: 530;
    padding-left: 20px;
    text-decoration-line: none;
    color: black;
}
.menu:hover{
    background-color: #F8F9FA;
    color:#ce6700;
    /* color:#b35900; */
}